// Specific CSS for your home-page

body {
  background: #FFF;
}

.logo {
  width: 100%;
  max-width: 500px;
}

.score-text {
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}

///////////// MATCH INDEX ///////////////

.no-decoration {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

///////////// MATCH SHOW ///////////////

.player-name {
  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.home-team {
  padding-right: 16px;
  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
}

.no-underline {
  text-decoration: none !important;
}
