// Specific CSS for your home-page

body {
  background: #FFF;
}

.logo {
  width: 100%;
  max-width: 500px;
}

.score-text {
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}

.youtube {
  width: 100%;
  height: 300px;
  margin-bottom: 16px;
}

.homepage {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.home-buttons {
  max-width: 500px;
  margin: auto;
  width: 100%;
}

.home-btn {
  border: 4px solid white;
  border-radius: 4px;
  color: white;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white;
  }
}

///////////// MATCH INDEX ///////////////

.no-decoration {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

///////////// MATCH SHOW ///////////////

.player-name {
  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.home-team {
  padding-right: 16px;
  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
}

.no-underline {
  text-decoration: none !important;
}

.assist-boot {
  margin-left: 1px !important;
  margin-top: 2px !important;
}


//////////// TEAM NEW /////////////////

.player-active {
  border: 2px solid #dda15e !important;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.3 !important;
}

///////////// MATCH GOALS NEW ////////////////

.match-goal-player {
  opacity: 0.6;
}
.match-goal-active {
  border: 2px solid #dda15e !important;
  opacity: 1 !important;
}

////////////// STATS //////////////////////

.font-14 {
  font-size: 14px;
}

#pills-tab {
  .nav-link {
    color: #000000;
    border-radius: 0;
  }
  .nav-link.active {
    color: #FFFFFF;
    background-color: #000000;
  }
}

.table-headers {
  background: #EE251B;
  td {
    border-color: #EE251B !important;
  }
}

.tab-content {
  font-family: 'Exo 2', sans-serif;
}
