<div class="container d-flex flex-column justify-content-around align-items-center" data-target="common.container">
  <div class="btn btn-block btn-primary invisible"></div>
  <%= image_tag 'poplarfc.png', class: 'logo' %>
  <%= link_to 'VIEW MATCHES', matches_path, class: 'btn btn-block btn-primary mt-4' %>
</div>
