<div class="container py-3">
  <%= simple_form_for [@match, @match_goal] do |f| %>
    <%= f.input :goal, collection: User.all.order(name: :asc) %>
    <%= f.input :assist, collection: User.all.order(name: :asc) %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
