<div class="container">
  <h1>Edit Player</h1>
  <%= simple_form_for @player do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <div class="d-flex justify-content-center align-items-center">
      <%= f.submit "EDIT PLAYER", class: "btn btn-primary primary-btn" %>
    </div>
  <% end %>
</div>
