<div class="container">
  <div class="py-3">
    <%= simple_form_for @match do |f| %>
      <%= f.input :title %>
      <%= f.input :date, html5: true %>
      <div class="d-flex justify-content-center align-items-center">
        <%= f.submit "ADD MATCH", class: 'btn btn-primary primary-btn' %>
      </div>
    <% end %>
  </div>
</div>
